html,
body {
    height: 100%;
    width: 100%;
}

header {
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: #222222 url('../img/header.jpg') no-repeat center;
    text-align: center;
    color: white;
}

header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
}

header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    header {
        min-height: 100%;
    }
    header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
    }
    header .header-content .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    header .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

section {
    padding: 100px 0;
}

.section-heading {
    margin-top: 0;
}

hr {
    border: 2px solid #f50057;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#about h2,
aside h2 {
    color: #fff;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
}

@media (min-width: 992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.bg-dark {
    background-color: #222222;
    color: white;
}

aside {
    padding: 50px 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.skills {
    margin: 20px 0;
}

.skill {
    color: #fff;
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 6px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.skill:hover,
.skill:focus,
.skill:active {
    color: #f50057;
    border-color: #f50057;
    text-decoration: none;
}

.contact-ways {
    margin: 50px 0 0;
}

.contact-way i {
    margin-bottom: 20px;
}

.page-404 header {
    background: #222222;
    height: 100vh;
}

.page-404 header h1 {
    font-size: 130px;
}

.page-404 header h2 {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.product-brand {
    font-family: 'Product Sans', Arial, sans-serif;
}

.product-brand span {
    font-weight: bolder;
}

#footer div.product-brand {
    font-size: 25px;
    height: 100px;
    line-height: 100px;
}

#footer .project-belong {
    font-size: 20px;
    height: 80px;
    line-height: 40px;
}

#footer .project-belong a {
    transition: 1s;
}

#footer .project-belong a:hover,
#footer .project-belong a:active,
#footer .project-belong a:focus {
    text-decoration: none;
}

.navbar-brand {
    line-height: 18px;
}
